@import "tailwindcss";


@font-face {
  font-family: "FiraCode-Bold";
  src: url("/fonts/FiraCode-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "FiraCode-Medium";
  src: url("/fonts/FiraCode-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "FiraCode-Regular";
  src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "FiraCode-Light";
  src: url("/fonts/FiraCode-Light.ttf") format("truetype");
}
@font-face {
  font-family: "FiraCode-SemiBold";
  src: url("/fonts/FiraCode-SemiBold.ttf") format("truetype");
}



:root {
  --background-color: #282C33;
  --primary-color: #c470db;
  --button-hover: #c470db3b;
  --gray: #abb2bf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FiraCode-Regular", sans-serif;
}

body {
  background-color: #282C33;
  overflow-x: hidden;
}

@theme {
  --color-background: #282C33;
  --color-primary: #c470db;
  --color-button-hover: #c470db3b;
  --color-gray-custom: #abb2bf;

  --font-bold: "FiraCode-Bold", monospace;
  --font-medium: "FiraCode-Medium", monospace;
  --font-regular: "FiraCode-Regular", monospace;
  --font-light: "FiraCode-Light", monospace;
  --font-semibold: "FiraCode-SemiBold", monospace;
}